<!-- Extends from home.html -->
{% extends "home.html" %}
{% block content %}

    <!-- Header -->
    <h1 class="profile-header white-text center-align">403 - Page not found</h1>

    <!-- Background Image -->
    <div class="error-image"></div>

    <div class="error-container">
        <div class="row">
            <div class="col s12">
                <h4 class="center-align white-text">Sorry, the page you requested could not be found.</h4>
                <h4 class="center-align white-text"><a href="{{ url_for('home') }}">Go to homepage</a></h4>
            </div>       
        </div> 
    </div>

{% endblock %}