.container {
    margin: auto;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

html {
    width: auto;
    height: -webkit-fill-available;
}

/* Navigation */

#navbar {
    background: transparent;
    position: fixed; 
    top: -70px;
    width: 100%; 
    transition: top 0.5s; 
    z-index: 10000;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.4rem;
    color: white;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav .brand-logo {
    font-size: 3rem;
    padding-left: 20px;
    color: white;
}

/* Home Page */

.h2-front {
    position: absolute;
    right: 50%;
    top: 40%;
}

/* Buttons */

.btn-container {
    position: relative;
    top: 20vh;
}

.btn-container a {
    margin: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    font-size: 20px;
}

.btn-container a:hover {
    background-color: rgba(0, 0, 0, 1);
}

.send-btn i {
    margin-right: 10px;
}

/* Background image */

.main-image {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    top: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/business.jpg);
}

/* Header */

.header-container p {
    position: relative;
    top: 20vh;
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-container h3 {
    position: relative;
    top: 20vh;
    font-size: 120px;
    font-family: fantasy, sans-serif;
      background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
.header-container h3 {
    font-size: 60px;
    }
}

.icons-exp-container {
    font-size: 50px;
}

.icons-exp-container p {
    font-size: 20px;
}

/* Flashes */

.flashes h4 {
    line-height: 2;
    top: 100px;
}

/* Form container */

.form-container h2 {
    color: white;
}

.form-container {
    margin-top: 80vh;
}

/* Footer */

.social-media-container i {
    font-size: 50px;
    margin: 23px;
}

.social-media-container i {
    color: white;
}

.footer-container h5 {
    padding-bottom: 10px;
    color: white;
}