{% extends "home.html" %}
{% block content %}

    <h1 class="white-text center-align">Edit Note</h1>

    <div class="main-image"></div>
    
    <!-- Note -->
    <div class="row">
        <form class="col s8 m8 offset-m2 offset-s2 card-panel" method="POST" action="{{ url_for('edit_note', note_id=note._id) }}">
            <div class="row">
                <div class="input-field col s8 m8 offset-m2 offset-s2">
                <i class="fas fa-user-circle prefix"></i>
                    <input id="note_name" name="note_name" minlength="5" maxlength="50"
                        value="{{ note.note_name }}" type="text" class="validate" required>
                    <label for="note_name">Note</label>
                </div>
            </div>
            <!-- Description -->
            <div class="row">
                <div class="input-field col s8 m8 offset-m2 offset-s2">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="note_description" name="note_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>{{ note.note_description }}</textarea>
                    <label for="note_description">Description</label>
                </div>
            </div>
            <!-- Due Date -->
            <div class="row">
                <div class="input-field col s8 m8 offset-m2 offset-s2">
                <i class="fas fa-calendar-alt prefix"></i>
                    <input id="due_date" name="due_date" type="text" value="{{ note.due_date }}" class="datepicker validate" required>
                    <label for="due_date">Due Date</label>
                </div>
            </div>
            <!-- Urgent -->
            <div class="row">
                <div class="input-field col s8 m8 offset-m2 offset-s2">
                      <div class="switch">
                        <i class="fas fa-exclamation-circle prefix"></i>
                        <label for="is_urgent">
                            {% if note.is_urgent == "on" %}
                            <input type="checkbox" id="is_urgent" name="is_urgent" checked>
                            {% else %}
                            <input type="checkbox" id="is_urgent" name="is_urgent">
                            {% endif %}
                            <span class="lever"></span>
                            Is Urgent
                        </label>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s8 m8 offset-m2 offset-s2 center-align">
                    <button class="btn-large waves-effect waves-light">
                        <a class="white-text" href="{{ url_for('get_notes') }}">
                            Cancel 
                        </a>
                    </button>
                    <button class="btn-large waves-effect waves-light" type="submit">
                        Edit Note
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}