{% extends "home.html" %}
{% block content %}


    <ul class="collapsible popout">
        {% for note in notes %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-chevron-down"></i>
                <strong>{{ note.note_name }}</strong> : {{ note.due_date }}
                {% if note.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="Urgent"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ note.category_name }}</strong>
                <p>{{ note.description_name }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}